#!/usr/bin/make -f

include /usr/share/dpkg/pkg-info.mk

export NODE_OPTIONS=--openssl-legacy-provider

%:
	dh $@

override_dh_auto_build:
	echo "export function MoliorWebVersion() { return \"$(DEB_VERSION)\"; }" > src/app/lib/version.ts
	PATH=node_modules/.bin:$$PATH ng build --configuration=production --outputHashing=all

override_dh_auto_clean:
	dh_auto_clean
	rm -rf dist
	rm -f src/app/lib/version.ts

override_dh_auto_test:
	# No packaged browser test runner
